<form [formGroup]="changeTaskForm">
    <mat-form-field class="input-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>
            Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
        <mat-label>Description</mat-label>
        <textarea 
            matInput
            cdkTextareaAutosize
            formControlName="description"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="35"
        ></textarea>
    </mat-form-field>
    <mat-error *ngIf="serverErrorResponse">
        {{ serverErrorResponse }}
    </mat-error>
    <mat-form-field class="input-field">
        <label>Topic</label>
        <mat-select matInput formControlName="topic">
            <mat-option *ngFor="let topic of topicOptions" [value]="topic">
                {{ topic }}
            </mat-option>
        </mat-select>
        <mat-error>
            Topic is required
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="input-field">
        <label>Start send messages since</label>
        <input
            matInput
            formControlName="startDate"
            [min]="minDate"
            [matDatepicker]="releasedAtPicker"
        >
        <mat-error>
            Data is required
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #releasedAtPicker></mat-datepicker>  
    </mat-form-field>
    <cron-editor formControlName="cron" [options]="cronOptions"></cron-editor>
    <button
        *ngIf="!isTaskBeingEdited"
        mat-button
        [disabled]="changeTaskForm.invalid"
        (click)="createTask()"
    >
        Create
    </button>
    <button
        *ngIf="isTaskBeingEdited"
        mat-button
        [disabled]="changeTaskForm.invalid"
        (click)="editTask()"
    >
        Edit
    </button>
    <button mat-button mat-dialog-close>Close</button>
</form>
