<form mat-dialog-content [formGroup]="authForm">
    <p>Enter your email</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>email</mat-label>
        <input
            matInput
            formControlName="email"
            type="email"
            placeholder="user@gmail.com"
        >
        <mat-error>
            Please enter a valid email address
        </mat-error>
    </mat-form-field>
    <p>Enter your password</p>
    <mat-form-field class="input-field" appearance="fill">
        <mat-label>password</mat-label>
        <input
            matInput 
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'" 
        >
        <button 
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword">
            <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-error>
            Password is required
        </mat-error>
    </mat-form-field>
    <button 
        mat-button 
        [disabled]="authForm.invalid"
        (click)="login(email?.value, password?.value)"
    >
        Log in
    </button>
    <button mat-button mat-dialog-close>Close</button>
    <mat-error>
        {{ serverErrorResponse }}
    </mat-error>
</form>
