.list-element {
    color: black;
}

.mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
}
  
.inlineLeft, .inlineRight {
    position: absolute;
    display: inline;
}
  
.inlineRight {
    right: 2%;
} 
